@using Microsoft.AspNetCore.Http;
@{
    string login = Context.Session.GetString("Login");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>


    <header>
        <!-- Menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Banco de Palavras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <!--Todo - Apresentar este apenas se o usuario logado-->

                    @if (login != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/palavra">Palavras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/login">Login</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="/contato">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">

        <div>

            <!-- Conteudo - Página -->
            @RenderBody()
        </div>

        <footer>
            <!-- Footer -->
            <div class="row">
                <div class="col-sm-12">
                    Todos os direitos reservador &copy; 2010 @DateTime.Now.Year
                </div>

            </div>
        </footer>

    </div>
</body>
</html>